@import "../../../scss/variables/mobile/variables.scss";
@import "../../../scss/variables/variables.scss";
.main {
  &__banner {
    min-height: 400px;
    background-image: url("../../../images/banner-photo.jpg");
    background-size: cover;
    background-position: center;
  }
}
.banner {
  &__title {
    font-size: $title-size;
    line-height: $title-height;
    text-transform: uppercase;
    padding: 70px 2px 0;
    margin-bottom: 19px;
    color: #ffffff;
    text-align: center;
  }
  &__subtitle {
    &-mob {
      font-size: $paragraph-size;
      line-height: $paragraph-height;
      color: #ffffff;
      text-align: center;
      margin-bottom: 24px;
    }
    &-tab,
    &-desk {
      display: none;
    }
  }
  &__signup {
    font-size: $paragraph-size;
    line-height: $paragraph-height;
    color: #ffffff;
    text-align: center;
    background-color: $color-prime;
    padding: 7px 58px;
    border-radius: 4px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
  .main__banner {
    background-image: url("../../../images/banner-photo@2x.jpg");
  }
}
