//font

$subtitle-size: 24px;
$subtitle-height: 29px;
$paragraph-size: 16px;
$paragraph-height: 24px; 

//color

$color-prime: #ef5b4c;
$color-second: #007bff;

//Background

$bg-prime: #fff;
$bg-second: #f9f9f3;